*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

h1{
    text-align: center;


}

.conteriner{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 90vh;
}


.conteriner:hover{
        background-color: rgb(58, 50, 50);
        color: whitesmoke;
}
.box{
    width: 300px;
    height: 250px;
    border-radius: 8px;
    padding: 10px;
    background-color: aqua;
}

.btn:hover{
    background-color:black;
    cursor: pointer;
    color: white; 
}
